<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<div>
    uesrname:<input type="text">
</div>
<div>
    password:<input type="password">
</div>
<div>
    选择性别:
            <input type="radio" name="n1">male
            <input type="radio" name="n1">female
</div>
<div>
    爱好:
        <input type="checkbox">羽毛球
        <input type="checkbox">篮球
        <input type="checkbox">足球
</div>
<div>
    所在的城市:
    <select>
        <option>西安</option>
        <option>北京</option>
        <option>深圳</option>
    </select>
</div>
<div>
    备注：
    <textarea>

    </textarea>
</div>
<div>
    <input type="button" value="登录">  <input type="button" value="重置">
</div>
</body>
</html>