<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of users
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>头像</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>更多信息</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="/static/img.png" alt=""  height="50px">
                    </td>
                    <td>123</td>
                    <td>休息@live.com</td>
                    <td>
                        <a href="https://www.baidu.com" target="_blank">点击查看详细</a>
                    </td>
                    <td>
                        <a>
                            编辑
                            删除
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="/static/img.png" alt=""  height="50px">
                    </td>
                    <td>456</td>
                    <td>学习@live.com</td>
                    <td>
                        <a href="https://www.baidu.com" target="_blank">点击查看详细</a>
                    </td>
                    <td>
                        <a>
                            编辑
                            删除
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </h1>
</body>
</html>