<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>goods list</h1>
  <a href="https://www.baidu.com" target="_blank">
    <img src="/static/img_1.png" style="height: 200px;width: 200px">
  </a>
  <a href="https://www.taobao.com" target="_blank">
    <img src="/static/img_2.png" style="height: 200px;width: 200px">
  </a>
  <a href="https://www.jd.com" target="_blank">
    <img src="/static/img_3.png" style="height: 200px;width: 200px">
  </a>

</body>
</html>