<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://www.baidu.com">点击跳转</a>
        <img style="height: 120%" src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png">
    <a href="/get/news">查看更多</a>
    <img style="height: 300px" src="/static/img.png"/>
    <h1>运营商列表</h1>
    <ul>
        <li>中国移动</li>
        <li>中国电信</li>
        <li>中国联通</li>
        <li>中国广电</li>
    </ul>
    <ol>
        <li>中国移动</li>
        <li>中国电信</li>
        <li>中国联通</li>
        <li>中国广电</li>
    </ol>


    <table border="1">
        <thead>
            <tr>   <th>ID</th>   <th>name</th> <th>age</th>      </tr>
        </thead>
        <tbody>
            <tr>     <td>10</td> <th>ccl</th>  <th>19</th>        </tr>
            <tr>     <td>11</td> <th>123</th>  <th>20</th>        </tr>
            <tr>     <td>12</td> <th>234</th>  <th>21</th>        </tr>
            <tr>     <td>13</td> <th>345</th>  <th>22</th>        </tr>


        </tbody>
    </table>











</body>
</html>