<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<h1>模板语法</h1>
<div>{{ n1 }}</div>
<div>{{ n2 }}</div>
<div>{{ n2.0 }}</div>
<div>{{ n2.1 }}</div>
<div>{{ n2.2 }}</div>
<div>
	{% for item in n2 %}
		<span>{{ item }}</span>

	{% endfor %}
</div>
<hr>
<div>{{ n3 }}</div>
<div>{{ n3.name }}</div>
<div>{{ n3.salary }}</div>
<div>{{ n3.roles }}</div>
<ul>
{% for k,v in n3.items %}
	<li>{{ k }}={{ v }}</li>
{% endfor %}
</ul>

{{ n4.0 }}

<div>
{% for item in n4 %}
		<span>{{ item }}</span>

{% endfor %}
</div>
<hr>
{% if n1 == '韩超' %}
	<h1>1111</h1>
{% else %}
	<h1>2222</h1>
{% endif %}
</body>
</html>